.publications-container {
    margin-top: 170px;
    font-family: Circularstd, sans-serif; 
    margin-left: 45px;
    margin-right: 45px;
    height: fit-content;
}

.pub1-section {
    margin-top: 20px;
    margin-bottom: 130px;
    display: block;
}

@media screen and (max-width: 767px) {
    .container-33 {
        margin-top: 100px;
    }
}

@media screen and (max-width: 991px) {
    .w-container {
        max-width: 728px;
    }
}

w-container {
    max-width: 940px;
    margin-left: auto;
    margin-right: auto;
}

.download-grid {
    background-color: #fff;
    border: 2px solid #000;
    border-radius: 10px;
    grid-template-rows: auto;
    grid-template-columns: 1.75fr 1fr;
    box-shadow: 1px 1px 6px #d3d3d3;
    display: grid;
    width: 100%;
    max-width: 1000px;
}

@media screen and (max-width: 991px) {
    .download-grid {
        grid-template-columns: 1.5fr 1fr;
    }
}

@media screen and (max-width: 767px) {
    .download-grid {
        grid-template-columns: 1.25fr 1fr;
        margin-left: 19px;
        margin-right: 19px;
    }
}


.w-layout-grid {
    grid-row-gap: 16px;
    grid-column-gap: 16px;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr;
    grid-auto-columns: 1fr;
    display: grid;
}

.pub-image {
    background-image: url('../FIE.png');
    background-position: 50% 0;
    background-repeat: repeat;
    background-size: cover;
    background-attachment: scroll;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

@media screen and (max-width: 767px) {
    .pub-image {
        background-image: url('../FIE.png');
        background-position: 50%;
        background-size: cover;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
    }
}

box-right-section {
    flex-direction: column;
    align-items: center;
    padding-top: 25px;
    padding-bottom: 25px;
    display: flex;
    width: 100%;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

@media screen and (max-width: 991px) {
    .box-right-section {
        padding-left: 10px;
        padding-right: 20px;
    }
}

.text-block-wrapper {
    max-width: 100%;
    padding: 0 25px;
}

@media screen and (max-width: 991px) {
    .text-block-wrapper {
        padding: 35px 0 10px;
    }
}

@media screen and (max-width: 767px) {
    .text-block-wrapper {
        padding: 35px 0 10px;
    }
}

.pill-wrapper {
    justify-content: flex-start;
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex
;
}

.premium-pill {
    background-color: #fe5693;
    border-radius: 10px;
    margin-left: 0;
    margin-right: 10px;
    padding: 3px 8px;
    font-size: 10px;
}

.free-pill {
    background-color: #8687fa;
    border-radius: 10px;
    margin-right: 9px;
    padding: 3px 8px;
    font-size: 10px;
}

h2 {
    color: var(--black);
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: Circularstd, sans-serif;
    font-size: 48px;
    font-weight: 700;
    line-height: 1;
    position: static;
}

.download-modal-heading {
    margin-bottom: 10px;
    font-size: 40px;
    width: 350px;
}

@media screen and (max-width: 991px) {
    .download-modal-heading {
        font-size: 30px;
    }
}

.text-block-24 {
    padding-top: 10px;
    padding-bottom: 13px;
}

.bold-text-20 {
    color: #000;
    font-family: Open Sans, sans-serif;
    font-size: 18px;
    line-height: 22px;
}

b, strong {
    font-weight: bold;
}

@media screen and (max-width: 991px) {
    .bold-text-20 {
        font-size: 14px;
    }
}

.text-block-25 {
    font-family: Open Sans, sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    margin-bottom: 20px;
}

@media screen and (max-width: 991px) {
    .text-block-25 {
        font-size: 14px;
        line-height: 20px;
    }
}

.pub-button {
    color: #000;
    text-align: center;
    border: 2px solid #000;
    border-radius: 5px;
    align-self: stretch;
    margin-top: 15px;
    margin-left: 25px;
    margin-right: 25px;
    transition: background-color .2s;
    display: inline;
    box-shadow: 1px 1px 3px #000;
}

.pub-button:hover{
    background-color: #8687fa;
}

@media screen and (max-width: 991px) {
    .pub-button, .coming-soon-cta {
        text-align: center;
        align-self: stretch;
        margin-left: 25px;
        margin-right: 25px;
    }
}

@media screen and (max-width: 767px) {
    .pub-button {
        align-self: stretch;
        margin-left: 25px;
        margin-right: 25px;
    }
}

@media screen and (max-width: 560px) {
    .download-grid {
      display: flex;
      flex-direction: column;
    }
  
    .pub-image {
      width: 100%;
      height: 200px;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      border-bottom-left-radius: 0;
    }
  
    .box-right-section {
      padding: 20px;
      border-top-left-radius: 0;
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
    }
  
    .download-modal-heading {
      width: 100%;
      font-size: 28px;
    }

    .pub-button {
        align-self: stretch;
    }
  }

  .pub2-section {
    margin-top: 20px;
    margin-bottom: 130px;
    display: block;
}